body{
    
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-image: linear-gradient(to top, #3a1c71, #642274, #862c75, #a33c75, #bc4f75, #cb5d75, #d86c75, #e47c76, #ec8876, #f49577, #faa278, #ffaf7b);
  /* background-size: cover; */
  /* background-size: auto; */
  /* background-position: center; */
  /* background-position:center center ; */
    /* background-size:cover ; */
    /* background-repeat: no-repeat; */
    background-attachment: fixed;

  
}
.container{
    background-color: white;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom:5%;
    width: 80%;
    height: 70%;
    
}
file{
  margin-top:20px;
}
.text{
    width: 80%;
    padding: 10px 0px;
    font-size: 16px;
    color: #642274;
    margin-top: 40px;
    border: none;
    border-bottom: 1px solid #642274;
    outline: none;
    background: transparent;
  }
  img{
      border-radius: 50%;
      object-fit: cover;
      object-position: 50% 50%;
      width: 300px;
      height:  300px;
  }
  .edit{
   

    border-radius:12px;
    text-align: center;
    padding: 10px;
    background-color:  #c287a4;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-right: 10px;
    cursor: pointer;
  
  }
  .biography{
      border: 3px solid #b8aabb;
      margin-bottom: 150px;
      margin-top: 10px;
      width: 90%;
      height: 70%;
      border-radius: 10px;
  }
  .igr{
    margin-left: -250px;
  }