@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*Navigacioni bar*/
 div.header{
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.header img,table tr td div.header h2 img{
  border-radius: 50%;
  margin-right: 30px;
  width: 100px;
  height: 100px;

}

label{
  display: none;
}

div.header .logo{
  position: relative;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

div.header .navigation a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  transition-property: background;
}
 
div.header .navigation a:hover{
  background: #642274;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #642274,
              0 0 25px #642274,
              0 0 50px #642274,
              0 0 100px #642274;
}
 
div.header .navigation a  span {
  position: absolute;
  display: block;
}
 
div.header .navigation a  span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #642274);
  animation: btn-anim1 1s linear infinite;
}
 
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}
 
div.header .navigation a  span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #642274);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}
 
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}
 
div.header .navigation a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #642274);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}
 
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}
 
div.header .navigation a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #642274);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}
 
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

div.header .navigation a:not(:last-child){
  margin-right: 15px;
}

#check{
  z-index: 3;
  display: none;
}

/* Responsive CSS */

@media (max-width: 1000px){
  div.header .navigation{
    display: none;
  }

   label{
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    color:#642274;
    transition-property: color;
  }

   label:hover{
    color: #fff;
  }

   label .close-btn{
    display: none;
  }

   #check:checked ~ div.header .navigation{
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #faa278;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

   #check:checked ~  div.header .navigation a{
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

   #check:checked ~ div.header label .close-btn{
    z-index: 2;
    position: fixed;
    display: block;
  }

   #check:checked ~ div.header label .menu-btn{
    display: none;
  }

   label .menu-btn{
    position: absolute;
  }

  div.header .logo{
    position: absolute;
    bottom: -6px;
  }
}
/*Chat deo*/
body{
  display:flex;
  align-items:center;
  justify-content:center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #3a1c71, #642274, #862c75, #a33c75, #bc4f75, #cb5d75, #d86c75, #e47c76, #ec8876, #f49577, #faa278, #ffaf7b);
}

.wrapper{
  background: #fff;
  width: 60%;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
              0 32px 64px -48px rgba(0, 0, 0, 0.5);
  overflow-x: auto;
}
.wrapper td{
  height:643px;
}
/*Korisnici sa leve strane*/
.users{
  height: 100%;
  padding: 25px 30px;
}

.users header,
.users-list a{
  display:flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content:space-between;
  border-bottom: 1px solid #642274;
}

.wrapper img{
  object-fit: cover;
  border-radius: 50%;
}

:is(.users, .users-list) .content{
  display:flex;
  width: 150px;
}

.users header .content img{
  height:50px;
  width:50px;
}

:is(.users, .users-list) .details{
  color:#000;
  margin-left: 10px;
}

:is(.users, .users-list) .details span {
  font-size: 18px;
  font-weight: 500;
}

.users .search{
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content:space-between;
}

.users .search .text{
  font-size: 18px;
}

.users .search input{
  position: absolute;
  height:42px;
  width:calc(100% - 40px);
  border: 1px solid #642274;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  outline: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.users .search input.active{
  opacity: 1;
  pointer-events:auto;
}

.users .search button{
  width:40px;
  height:42px;
  border:none;
  outline:none;
  color:#642274;
  background:#fff;
  border-radius:0 5px 5px 0;
  cursor: pointer;
  font-size: 17px;
}

.users .search button.active{
  color:#fff;
  background:#642274;
}

.users .search button.active i::before{
  content:"\f00d";
}

.users-list{
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
}

:is(.chat-box, .users-list)::-webkit-scrollbar{
  width:0px;
}

.users-list a{
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-right: 15px;
  border-bottom-color: #642274;
}

.users-list a:last-child{
  border:none;
  margin-bottom: 0px;
}

.users-list a .content img{
  width:40px;
  height:40px;
}

.users-list a .content{
  display:flex;
}

.users-list a .content p{
  font-size: 12px;
  color:#67676a;
}

.users-list a .status-dot{
  font-size:12px;
  color:#468669;
}
.users-list a .status-dot.offline{
  font-size:12px;
  color:#ccc;
}

/*Komunikacioni deo*/
.chat-area{
  width:100%;
}

.chat-area header{
  display:flex;
  align-items:center;
  padding:18px 0;
}
.chat-area header .back-icon{
  font-size:18px;
  color:#333;
}

.chat-area header img{
  height: 45px;
  width: 45px;
  margin:0 15px;
}

.chat-area header span{
  font-size:17px;
  font-weight: 500;
}

.chat-box{
  height:475px;
  overflow-y: auto;
  background:#f7f7f7;
  padding:10px 30px 20px 30px;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 /5%),
              inset 0 -32px 32px -32px rgb(0 0 0 /5%);
}

.chat-box .chat{
  margin: 15px 0;
}

.chat-box .chat p{
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: inset 0 0 32px rgb(0 0 0 /8%),
              inset 0 16px 16px -16px rgb(0 0 0 /10%);
}

.chat-box .outcoming{
  display:flex;
}

.outcoming .details {
  margin-left: auto;
  max-width: calc(100% - 130px);
}

.outcoming .details p{
  background:#faa278;
  color:#fff;
  border-radius:18px 18px 0 18px;
}

.chat-box .incoming{
  display:flex;
  align-items: flex-end;
}

.chat-box .incoming img{
  height:35px;
  width:35px;
}

.incoming .details{
  margin-left:10px;
  margin-right: auto;
  max-width: calc(100% - 130px);
}

.incoming .details p{
  background: #642274;
  color: #fff;
  border-radius:18px 18px 18px 0;
}

.chat-area .typing-area{
  padding:18px 0;
  display:flex;
  justify-content:space-between;
}

.typing-area input{
  height:45px;
  font-size: 17px;
  width:calc(100% - 58px);
  border: 1px solid #faa278;
  padding: 0 13px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.typing-area button{
  width:55px;
  outline: none;
  border:none;
  background:#faa278;
  color:#fff;
  font-size: 19px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

/* .navigation{
  margin-top:0 ;
} */