@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
  font-family: 'Poppins';
}
.carousel-item{
  height: 100vh;
  min-height:300px;
}
.carousel-caption{
  bottom: 220px;
}
.carousel-caption h5{
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-weight: 900;
}
.carousel-caption p{
  font-size:16px;
  margin:auto;
  width:60%;
  line-height:1.9;
}
.carousel-caption a{
  text-transform: uppercase;
  background:#ffaf7b;
  padding: 10px 30px;
  display:inline-block;
  color: #fff;
  margin-top: 15px;
  border-radius: 50px;
}
.navbar-nav a{
  font-size: 18px;
  text-transform: uppercase;
  font-weight:700;
}
.navbar-light .navbar-brand{
  color:#fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link{
  color: #fff;
}
.navbar-light .navbar-nav .nav-link{
  color: #fff;
}
.nav-link{
  padding: .2rem 1rem;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
  color: #fff;
}
.navbar-togller{
  padding: 1px 5px;
  font-size:18px;
  line-height:.3;
  background:#fff;

}
.w-100{
  height: 100vh;
}
@media only screen and (max-width:767px){
  .navbar-nav.ml-auto{
    background: rgba(0, 0, 0, 0.9);
  }
  .navbar-nav a{
    font-size:14px;
    font-weight:700;
  }
  .carousel-caption p{
    font-size:10px;
    margin:auto;
    width:60%;
    line-height:1.9;
  }
  .carousel-caption h5{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-weight: 900;
  }
}